
.container-fluid {
  background-color: olivedrab;
    text-align: center;
     margin: auto;
}

.schermo {
  width : 90%;
  padding: 15px;
  margin: auto;
  background-color: beige;
  text-align: center;
  border: 2px solid olivedrab;
}

.scheda {
  height: 420px;
  padding: 8px;
  margin: 2px;
  margin: auto;
  background-color: beige;
  text-align: center;
  border: 2px solid yellowgreen;
}

.scheda:hover {
  background-color: yellowgreen;
  color: white;
}

.foglio {
  width : 90%;
  padding: 14px;
  margin: auto;
  background-color: beige;
  text-align: center;
  border: 5px solid yellowgreen;
}

table {
  width: 90%;
  text-align: justify;
}

label {
  font-weight: bold;
}

input {
  background-color: white;
  width: 400px;
  padding: 5px;
  margin: 2px;
}

button {
  width: 300px;
  background-color: olivedrab;
  color: white;
}

.btn {
  width: 150px;
  background-color: olivedrab;
  color: white;
}

.bottrosso {
  width: 120px;
  border-radius: 8px;
  background-color: red;
  color: white;
  text-align: center;
  text-decoration: none;
}

.bottverde {
    width: 120px;
  border-radius: 8px;
  background-color: green;
  color: white;
  text-align: center;
  text-decoration: none;
}
 
a:link a:visited{
  color:  olivedrab;
  text-decoration: none;
}

 a:hover{
  color: white;
  background-color: yellowgreen;
  text-decoration: none;
}

 a:active {
   color:  yellowgreen;
   text-decoration: none;
 }

.photo {
  height: 200px;
 }

.cover {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
 }

.cover  img {
  height: 90%;
 }

.mini-cover {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
 }

 .mini-cover  img {
  height: 50%;
 }

.footer {
  color: white;
  text-align: center;
}


#map {
        
      height: 90%;
      margin: 0;
      padding: 0
}

.box {
  position: relative;
  text-align: center;
  color: white;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.rainbow-text {
  background-image: repeating-linear-gradient(45deg, mediumseagreen, forestgreen, green, yellowgreen, olivedrab, darkolivegreen);
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}


